<ion-content>

  <ion-card class="intro" mode="md">
    <ion-card-header>
      <ion-avatar class="logo"> <img src="assets/icon/logoalbondiga.png"/> </ion-avatar>
      <h1 class="ion-text-center Panettone">Tojito</h1>
    </ion-card-header>
  </ion-card>

  <ion-card class="intro">
    
    <ion-slides pager="ios">

      <ion-slide>
        <ion-card class="intro" mode="md">
          <ion-card-header>
            <ion-icon name="storefront" style="font-size: 80px;"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ion-text-center">
              <strong>Tu negocio en línea.</strong><br><br>
              Da a conocer tu negocio en toda la zona para que los
              clientes acudan a tu establecimiento, haz crecer tu
              negocio.<br><br>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="intro" mode="md">
          <ion-card-header>
            <ion-icon name="shield" style="font-size: 80px;"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ion-text-center">
              <strong>Todos tus datos están seguros.</strong><br><br>
              Registrate para tener todos los beneficios que te ofrece Tojito
              Business de una forma segura, sólo tu podrás acceder a la
              información de tu negocio.<br>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="intro" mode="md">
          <ion-card-header>
            <ion-icon name="restaurant" style="font-size: 80px;"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ion-text-center">
              <strong>¿Qué comida ofreces?</strong><br><br>
              Da a conocer el menú de tu restaurante a tus clientes, de esta manera
              se reducen los tiempos de espera en pedidos y ayudas al medio ambiente
              al no usar las cartas tradicionales.<br><br>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card class="intro" mode="md">
          <ion-card-header>
            <ion-icon name="time" style="font-size: 80px;"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <h2 class="ion-text-center">
              <strong>Publica tus horarios.</strong><br> <br>
              Los clientes tendrán la certeza de que estarás ahí para atenderlos
              con todo gusto. Mantén actualizado tus horarios en todo momento.<br><br>
            </h2>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>

  </ion-card>

</ion-content>

<ion-footer>
  <div style="float: left; width: 50%;">
    <ion-button expand="block" color="purple" routerLink="/login">
      Iniciar sesión
    </ion-button>
  </div>
  <div style="float: left; width: 50%;">
    <ion-button expand="block" color="orange" routerLink="/register">
      Registrarme
    </ion-button>
  </div>
</ion-footer>
