<ion-content>

  <ion-card class="intro" mode="md">
    <ion-card-header>
      <ion-avatar class="logo"> <img src="assets/icon/logoalbondiga.png"/> </ion-avatar>
    </ion-card-header>
  </ion-card>

  <!-- Card de registro de usuario -->
  <ion-card class="intro">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Registro de usuario</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form #formulario="ngForm">
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input
            type="text"
            name="username"
            autocapitalize="on"
            placeholder="Nombre de usuario"
            [(ngModel)]="user.nombre"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input
            type="text"
            name="tel"
            minlength=10
            maxlength=10
            placeholder="Teléfono (10 dígitos)"
            [(ngModel)]="user.tel"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="at"></ion-icon>
          <ion-input
            type="email"
            name="email"
            placeholder="Correo electrónico"
            [(ngModel)]="user.correo"
            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="shield"></ion-icon>
          <ion-input
            type="password"
            name="pass"
            minlength=8
            placeholder="Ingresa una contraseña"
            [(ngModel)]="user.contrasena"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="checkmark"></ion-icon>
          <ion-input
            type="password"
            name="passConf"
            placeholder="Confirmar contraseña"
            [(ngModel)]="conPass"
            pattern="{{user.contrasena}}"
            required>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-checkbox
            color="purple"
            slot="start"
            pattern="true"
            [(ngModel)]="dataCheck.value"
            name="check"
            required>
          </ion-checkbox>
          <ion-label color="medium">{{dataCheck.eti}}</ion-label>
        </ion-item>
      </form>
    </ion-card-content>
    <ion-button expand="full" color="purple" (click)="registro()" [disabled]="formulario.invalid">
      Registrar
    </ion-button>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button expand="full" fill="clear" color="medium" routerLink="/login">
      Ya tengo una cuenta
    </ion-button>
  </ion-toolbar>
</ion-footer>
