<ion-header>
  <ion-toolbar>
    <ion-title>Editar Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-icon slot="start" name="restaurant"></ion-icon>
    <ion-input type="text"
              placeholder="Nombre del platillo"
              [(ngModel)]="nombre">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="cash"></ion-icon>
    <ion-input type="number"
              placeholder="Precio del platillo"
              [(ngModel)]="precio">
    </ion-input>
  </ion-item>
  <ion-button (click)="addFood()" expand="block" color="orange">
    Agregar Al Menú
  </ion-button>

  <ion-card *ngIf="auxMenu.length != 0">
    <ion-card-content>
      <ion-item *ngFor="let item of auxMenu">
        <ion-label class="ion-text-wrap ion-text-capitalize">{{item.nombre}}</ion-label>
        <ion-label class="ion-text-right">$ {{item.precio}}</ion-label>
        <ion-buttons slot="start">
          <ion-button (click)="delete(item)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="auxMenu.length == 0">
    <ion-card-title class="ion-text-center">
      <br>Los platillos que agregues se irán visualizando en esta sección<br><br>
    </ion-card-title>
  </ion-card>

</ion-content>

<ion-footer>
  <div style="float: left; width: 50%;">
    <ion-button expand="block" color="purple" (click)="cancel()">
      Cancelar
    </ion-button>
  </div>
  <div style="float: left; width: 50%;">
    <ion-button expand="block" color="orange" (click)="saveMenu()">
      Guardar Cambios
    </ion-button>
  </div>
</ion-footer>
